::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #b9c0fc; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #8b95eb;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8b95eb; 
}

.about-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.about-header {
    margin-left: 85%;
    margin-top: -100px;
    transform: translateX(-50%);
    width: 340px;
}

.about-header img {
    height: 300px;
    width: 300px;
}

.about-data {
    text-align: center;
    padding: 20px;
    margin-top: -150px;
}
